@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: hsl(212, 27%, 19%);
  ---dark-blue-200: hsl(213, 9%, 39%);
  --dark-blue-300: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --udred: hsl(7, 99%, 70%);
--udyellow: hsl(51, 100%, 49%);
}


@font-face{
  font-family: 'Barlow';
  src: url('./assets/font/Barlow-Regular.ttf')format('truetype');
  src: url('./assets/font/Barlow-Bold.ttf')format('truetype');
  font-weight: normal,bold;
  font-size: normal;
}
@font-face{
  font-family: "Fraunces";
  src: url('./assets/font/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf')format('truetype');
  font-weight: normal,bold,bolder;
  font-size: 48px;
}